.jumbotron{
	background-color: rgb(230, 141, 49);
	color: rgb(255, 255, 255);
	margin-top: 50px;
}

.container{
	color: rgb(1, 83, 130);
}

.btn{
	background-color:rgb(230, 141, 49);
}

.btn2{
	background-color:rgb(1, 83, 130);
}

.btn3{
	background-color:rgb(1, 83, 130);
	color: rgb(255, 255, 255);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: rgb(230, 141, 49);;
	margin-bottom: 0px;
	margin-top: 10px;
	color: rgb(255, 255, 255);
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px
}

.btn-reserva{
	width: 100%;
	border-radius: 0px; 
}

.tit-dis{
	color: rgb(1, 83, 130);
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

.card-img{
	margin-top: 10px
}