@orange:#e68d31;
@blue:#015382;
@white:#ffffff;

.margenes(@top, @bottom){
  margin-top: @top;
  margin-bottom: @bottom;
}

.paddings(@top, @right, @bottom, @left){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}


.jumbotron {
  background-color: @orange;
  color: @white;
  .margenes(50px, 0px); }

.container {
  color: @blue; }

.btn {
  background-color: @orange; }

.btn2 {
  background-color: @blue; }

.btn3 {
  background-color: @blue;
  color: @white; }

footer {
  .paddings(10px, 10px, 0px, 10px);
  background-color: @orange;
  .margenes(10px, 0px);
  color: @white; }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tit-dis {
  color: @blue; }

.footer-address-icon {
  .paddings(0px, 10px, 0px, 0px);}

.tab-content {
  .paddings(10px, 0px, 0px, 0px);}

.card-img {
  .margenes(10px, 0px); }
