.jumbotron {
  background-color: #e68d31;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 0px;
}
.container {
  color: #015382;
}
.btn {
  background-color: #e68d31;
}
.btn2 {
  background-color: #015382;
}
.btn3 {
  background-color: #015382;
  color: #ffffff;
}
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #e68d31;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #ffffff;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.tit-dis {
  color: #015382;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.card-img {
  margin-top: 10px;
  margin-bottom: 0px;
}
